<nav class="navbar navbar-inverse"> 
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
        ng-show="isLogin()" data-target="#logout">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
      </button>
      <a class="navbar-brand" href="#">Treasurer App</a>
    </div>
    <div class="collapse navbar-collapse" id="logout">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="logout()" href="#" ng-show="isLogin()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<alert ng-repeat="alert in getAlerts()" type="{{alert.type}}" close="closeAlert(alert)" 
  style="width:450px; position:absolute; z-index:1">
  {{alert.msg}}
</alert>
<div ui-view></div>